footer{
    margin:auto;
    padding:5%
}


.menu{
    margin-top:15vh;
    margin-bottom: 10vh;
}

.options{
    padding:5%;
}

.formelements div{
    margin-top:10px ;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

.nameEat{
    font-size: larger;
    font-weight: bold;
}
.descEat{
    font-weight: 100;
}
.btn-info {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.modal-body{
    margin-left: 10vh;
    padding: auto;
}
.btn-primary {
    color: #212529;
    background-color: #ffc107;
    border-color:#ffc107;;
    margin-bottom: 5%;
}
.display-4{
    color: #28a745;
}
.addFunc{
    margin-left: 5vh;
}
