html, body, main {
   background-image: url(img/_170579-82.jpg) ;
    background-color: #c8dfff;
    background-size: cover;
}

main {
    display: flex;

}
.calc-container{
    display: flex;
    width: 478px;
    height: 500x;
    overflow:hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    overflow:hidden;
    background: rgba(0,0,0,0.3);
}
#screen{
    margin: 35px;
            color: white; 
}
.screen{
    background-color:rgba(0,0,0,0.3);
    font-size: 50px;
    padding: 20px 10px;
    width: 478px;
    margin-bottom: 10px;
    text-align: right;
}
.buttons{
    display: flex;
     margin: auto;
}
.key{
    font-size: 45px;    
    width: 95px;
    height: 95px;
    background-color: rgb(156, 156, 156);
}
.digits button{
    background: rgba(0,0,0,0.5);
    width: 66px;
    height: 56px;
    border-radius: 3px;
    border: 1px rgba(0,0,0,0.5);
    margin: 0 7px 11px 0;
    color: #ccc;
    line-height: 56px;
    text-align: center;
    font-size: 27px;
    font-weight:normal;
    padding: 0px 10px;
    cursor: pointer;
}
   
.other button {
    width: 66px;
    height: 56px;
    border-radius: 3px;
    border: 1px rgba(250,100,0,0.3);
    margin: 0 7px 11px 0;
    color: #ccc;
    line-height: 56px;
    text-align: center;
    background: rgba(28, 11, 177, 0.336);
    font-size: 27px;
    font-weight:normal;
    padding: 0px 10px;
    cursor: pointer;
}