body {
    text-align: center;
    max-width:1980px;
    min-width: 10vw;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: #222222;
    background-color: #d8c7b4;
    background-image: url("img/hero-bg.jpg") no-repeat 50% 0;
    padding: 4VW; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    padding-top: 2vw;
    margin-top:5%;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  
    
  }
  li{
    float: left;
    margin-left: 3%;
    min-width: 10%;
  }
  .one {
      margin-left: 20%;
  }

  a {
    display: block;
    padding: 14px 16px;
    text-decoration: none; 
    color: #222222;
  }
  li a:hover {
    background-color: rgb(145, 132, 125);
    color: #222222;
}

  .nav{
   color:#222222; 
   background-color: rgb(238, 229, 229);
  
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   left: 0;
  
   
    
  }
  .face{
    
    padding: 20px;
    
    height: 900px;
    background-image: url(img/face3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20%;
  
  }
  .container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: right;
    color:#222222; 
    
  
    
  
  }
  
  .page_1 div{
   text-align: center;
   padding-top: 350px;
   padding-left: 600px;
   font-size: larger;
   
  }
  
  
  .heading {
    margin: 0 0 16px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    font-size: 88px;
    line-height: 96px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .intro{
      
    text-align: center; 
    margin-right: 10vw;
    margin-left: 10vw;
    padding-top: 5vw;
    position: relative;
    margin-bottom: 20%;
    
  }
  .img_intro{
    max-width: 700px;
    width: 50%;
    float: right;
    padding-left: 5%;
    right: 0;
  
  }

.aboutme{
 
  padding-right: 10vw;
  padding-bottom: 10%;
  padding-top: 3vw;
  padding-left: 10%;
  margin-right: 50%;
}


.myjob{
    height: 900px;
    padding-top: 5%;
    margin-bottom: 30%;
    padding-bottom: 10%;
}
.kamni{
    
    
  max-width: 700px;
  width: 50%;
  padding-left: 5%;
  bottom: 0;
  margin-bottom: 10VW;
}
.page_4{
  margin-top: 5%;
  padding-top: 5%;
  height: 900px;
  margin-bottom: 5%;
}
footer{
  bottom: 0;
  margin-top: 30%;
}