body{
    background-color: #032539;
    font-family: 'Playfair Display', serif;
   font-size: 18px;
  }
  form {
    color: #2c3e50;
    background: linear-gradient(75deg, #ffcb52, #ff8f27);
      width: 800px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      border-radius: 10px;
      box-shadow: 0 0 10px #2c3e50;
      height: 600px;
    }
    
    fieldset {
      width: 300px;
      
      float: right;
      border: 1px solid #2c3e50;
      border-radius: 7px;
      background-color: white;
      margin: auto;
      margin-left: 50px;
      padding: 20px;
    }
    
   
    label {
      display: block;
      margin-bottom: 10px;
      font-family: 'Playfair Display', serif;
      color: #2c3e50;
    }
    
    select{
      
      height: 24px;
      margin-bottom: 10px;
      padding: 2px 10px;
      margin-bottom: 10px;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      vertical-align: middle; 
    }
    input {
      width: 95%;
      height: 24px;
      margin-bottom: 10px;
      padding: 2px 10px;
      margin-bottom: 10px;
      
      vertical-align: middle;
  
    }
    option{
      font-family: 'Playfair Display', serif;
    }
    input[type="checkbox"] {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0 5px;
      padding: 6px 15px;
      font-family: 'Playfair Display', serif;
      
    
      
    }
    
    input[type="submit"] {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 0 5px;
      padding: 6px 15px;
    
      color: #ffffff;
      margin-top: 20px;
      background-color: #df7716;
      border: none;
      border-radius: 5px;
    }
    textarea{
      width: 300px;
      font-family: 'Playfair Display', serif;
      font-style: italic;
      padding: 10px;
    }
    
   .sex{
     text-align: left;
   }
    
    .buttons {
      margin-top: 10px;
    
      text-align: center;
    }
    .container{
      display: flex;
     
    }
    .operator_img{
     
      width: 300px;
      text-align: center;
      float: left;
      padding:20px;
      margin-top: 50px;
    }
    
    ::placeholder{
      font-style: italic;
    }
    main {
      min-height: 400px;
      margin-top: 30px;
      
    }
   