body {
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #222222;
    background-color: #403A37;
    
    padding: 4VW;
    margin: auto; 
    padding-top: 0;
    margin-top:5%;
    
  }
  article {
    display: block;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  
    
  }
  li{
    float: left;
    
    min-width: 10%;
    
  }
  .one {
      margin-left: 20%;
  }

  a {
    display: block;
    padding: 14px 16px;
    text-decoration: none; 
    color: #222222;
  }
  li a:hover {
    background-color: rgba(161, 140, 130, 0.548);
    color: #222222;
}

  .nav{
   color:#222222; 
   background-color: #E3CEC6;
   
   overflow: hidden;
   position: fixed;
   z-index: 1;
   top: 0;
   width: 100%;
   left: 0;
  }

  .heading{
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;
font-family: 'Parisienne', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
    
  }
  .heading_2{
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;
font-family: 'Parisienne', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    
  }
  .heading_3{
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Poiret One', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Montserrat', sans-serif;
  }
  .face{
    height: 800px;
    padding: 20px;
    padding-top: 0;
    background-image: url(img/hi.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain ;
    
  }
  .page_1 div{
    text-align: center;
    padding-top: 300px;
    padding-left: 130px;
    padding-bottom: 30px;
    font-size: larger;
    
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    text-align: right;
    color:#222222; 
  }
  .about_what section{
    display: flex;
    justify-content: center ;
    align-items: center;
   
  }
  .about_what div{
    margin-top: 10%;
    background-color:rgb(228, 214, 208) ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    left: 0;
    right: 0;
    margin:0 auto;
    text-align: center;
    
    padding-top: 30px;
    width: max-content;
    padding: 40px;;
    padding-bottom: 4rem;
    margin-bottom: 10%;
    
    
  }
  
  .hr-line {
    margin: 20px 0;
    padding: 0;
    margin:7%;
    height: 0;
    width: 86%;
  
    border: none;
    border-top: 1px solid #333;
    
  }
  .fav_fonts{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    justify-content: space-around;
    margin-top: 20%;
    margin-bottom:20% ;
  }
  .main-text{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    padding:3%;
   
  }
 
  .first{
    
    order: 1;
    background-color: wheat;
    width: 22%;
    height: 80%;
    font-size: 150%;
    padding-top: 2%;
    font-family: 'Playfair Display', serif;
  }
  .second{
    order:2;
    background-color: wheat;
    width: 22%;
    height: 80%;
    font-size: 150%;
    padding-top: 2%;
    font-family: 'Montserrat', sans-serif;
  }
  .third{
    order: 3;
    background-color: wheat;
    width: 22%;
    height: 80%;
    font-size: 160%;
    padding-top: 2%;
    font-family: 'Cinzel', serif;
  }
  .fourth{
    order: 3;
    height: 80%;
    background-color: wheat;
    width: 22%;
    font-size: 250%;
    padding-top: 2%;
    font-family: 'Allura', cursive;
  }

  
  
  .small{
    font-size: 14px;
  }
 .work-nav{
   display: flex;
   flex-direction: row;
   height: 300px;
   width: 100%;
   justify-content: space-around;
 
 }
 .last-work{
   width: 20%;
   height: 20%;
   padding-top: 1%;
  
   font-size: 200%;
  background-color: #E3CEC6;
 }
 .next-work{
  width: 20%;
  height: 20%;
  padding-top: 1%;
 
  font-size: 200%;
 background-color: #E3CEC6;
}